<div class="sun"></div>

<style>
  .sun {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url('/sun_pixel_art.png') no-repeat center center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sunEllipse 120s linear infinite; /* Duraci칩n m치s larga para que se mueva m치s lento */
    animation-delay: 4s; /* A침adir un retraso de 4 segundos antes de que vuelva a aparecer */
  }

  @keyframes sunEllipse {
    0% { left: 10%; top: 70%; }
    25% { left: 25%; top: 40%; }
    50% { left: 50%; top: 20%; }
    75% { left: 75%; top: 40%; }
    100% { left: 90%; top: 70%; }
  }
</style>
